.top_section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 400px;
  /* Adjust this value to your preferred height */
  background-color: #c9c9c92d;
  z-index: -1;
}

.event-registration-form {
  max-width: 60%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f7f7f7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 5% 20%;
  box-shadow: 0px 0px 20px lightgray;
}

h1 {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.event-registration-form h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="url"],
input[type="date"],
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

select {
  height: 40px;
}

textarea {
  height: 150px;
}

input[type="checkbox"] {
  margin-right: 10px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.dates {
  display: flex;

  #ED {
    margin-left: 25%;
  }
}

.times {
  display: flex;

  #ET {
    margin-left: 28%;
  }
}

.checkbox-dropdown {
  width: 30vw;
  border: 1px solid #aaa;
  padding: 10px;
  position: relative;
  margin: 0 auto;

  user-select: none;
}

/* Display CSS arrow to the right of the dropdown text */
.checkbox-dropdown:after {
  content: "";
  height: 0;
  position: absolute;
  width: 0;
  border: 6px solid transparent;
  border-top-color: #000;
  top: 50%;
  right: 10px;
  margin-top: -3px;
}

/* Reverse the CSS arrow when the dropdown is active */
.checkbox-dropdown.is-active:after {
  border-bottom-color: #000;
  border-top-color: #fff;
  margin-top: -9px;
}

.checkbox-dropdown-list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%; /* align the dropdown right below the dropdown text */
  border: inherit;
  border-top: none;
  left: -1px; /* align the dropdown to the left */
  right: -1px; /* align the dropdown to the right */
  opacity: 0; /* hide the dropdown */

  transition: opacity 0.3s ease-in-out;
  height: 100px;

  overflow: scroll;
  overflow-x: hidden;
  pointer-events: none; /* avoid mouse click events inside the dropdown */
}
.is-active .checkbox-dropdown-list {
  opacity: 1; /* display the dropdown */
  pointer-events: auto; /* make sure that the user still can select checkboxes */
  background-color: white;
}

.checkbox-dropdown-list li label {
  display: block;
  border-bottom: 1px solid silver;
  padding: 10px;

  transition: all 0.2s ease-out;
}

.checkbox-dropdown-list li label:hover {
  background-color: #555;
  color: white;
}
.custom-tag-input {
  display: flex;
  align-items: center;
}

.custom-tag-input input[type="text"] {
  flex: 1;
  margin-right: 8px; /* Add some spacing between input and button */
}

/* Customize further as needed */
